body {
    font-family: Arial, sans-serif;
    background: url(https://thumbs.dreamstime.com/b/healthy-food-delivery-background-lunch-box-rustic-wood-healthy-food-delivery-background-lunch-box-salad-rustic-wood-100498489.jpg);
    background-size: cover;
    color: aliceblue;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-radius:20px;

}
.login-container {
    background-color: rgba(18, 15, 15, 0.5);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: 500px;

}
.login-container h1{
    text-align: center;
}
.login-container h2 {
    text-align: center;
}
.login-container label {
    display: block;
    
    margin-bottom: 5px;
}
.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 5px solid #ccc;
    border-radius: 10px;
}
.login-container button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
    width: 100%;
    cursor: pointer;
}
